@charset "utf8";
.body{
    background-color:#EAF4FC;
    padding-bottom:0% ;
}

/* header */
header div{
    column-count: 2;
    vertical-align:middle;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#0D6EFD;
}
#header_img{
    column-width: 120px;
}


h1{
    font-size: 30px;
}

/* imgline */
.imgline{
    text-align: center;
}
.imgline_row0, .imgline_row1{
    display: inline;
}
.button{
    text-align: center;
}

