.main {
    padding: 10px 80px;
  }
  
  .copy-container h1 {
    font-size: 45px;
    text-align:center;
  }
  
  .copy-container h2 {
    font-size: 50px;
    text-align:center;
  }
  
  .copy-container span {
    font-size: 100px;
    color: #ff4a4a;
  }
  
  .contents {
    height: auto;
    margin-top: 50px;

  }
  
  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
  .contents-item {
    height: auto;
    padding-bottom: 40px;
  }

  .place {

    column-count: 2;
    padding-bottom: 30px;
  }
  .contents-item h4{
    height: 50px;
    font-size: 30px;
    padding: 20px 10px;
  }
  .place h5{
    width: 1000px;
    column-count: 2;
    font-size: 40px;
  }
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .rate-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .rate-star input[type=radio] {
    display: none;
  }
  .rate-star label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
  }
  .rate-star label:hover {
    color: #ffcc00;
  }
  .rate-star label:hover ~ label {
    color: #ffcc00;
  }
  .rate-star input[type=radio]:checked ~ label {
    color: #ffcc00;
  }
  